---
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import DocsSidebarSublist from './DocsSidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;
---

<SidebarPersister>
  <DocsSidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>
